<!-- <div class="modal" >
  <div class="modal-overlay"> -->
<div class="modal-body">
  <div class="header"><h1 class="header_h1">Thông tin người dùng</h1></div>
  <div class="user-info">
    <div class="first">
      <p class="name">Tên<span class="require">*</span>:
        <input
          class="input-cf"
          type="text"
          id="name"
          [(ngModel)]="name"
          (ngModelChange)="onInputChange()">
      </p>

      <p class="phone">Số điện thoại:
        <input
          class="input-cf"
          type="number"
          name="phone"
          [(ngModel)]="phone"
          (ngModelChange)="onInputChange()"></p>
    </div>
    <div class="second">
      <p>Email<span class="require">*</span>:
        <input
          class="input-cf "
          type="email"
          name="email"
          [(ngModel)]="email" required
          (ngModelChange)="onInputChange()">
      </p>
    </div>
    <div class="third">
      <p>Địa chỉ chi tiết<span class="require">*</span>:
        <input
          class="input-cf-add"
          type="text"
          name="address"
          [(ngModel)]="address" required
          (ngModelChange)="onInputChange()"></p>
    </div>
    <div class="four">
      <label for="city" class="city">Tỉnh/Thành phố<span
          class="require">*</span>:</label>
      <select id="city" name="city" class="select-city" #mySelect>
        <option value="none" selected disabled>Chọn giá trị</option>
        <option value='hn'>Hà Nội</option>
        <option value="hcm">Hồ Chí Minh</option>
      </select>
      <div class="district">
        <label for="district" class="district">Quận/Huyện <span
            class="require">*</span>:</label>
        <select name="district" class="select-dis" #mySelect1>
          <option value="none" selected disabled>Chọn giá trị</option>
          <option value="huyen1">Huyện 1</option>
          <option value="huyen2">Huyện 2</option>
          <option value="quan1">Quận 1</option>
          <option value="quan2">Quận 2</option>
        </select>
      </div>
    </div>
    <div class="five">
      <label for="ward" class="ward">Phường/Xã:</label>
      <select name="ward" class="select-ward" >
        <option value="none" selected disabled>Chọn giá trị</option>
        <option value="xa1">Xã 1</option>
        <option value="xa2">Xã 2</option>
        <option value="xa3">Xã 3</option>
      </select>
    </div>

  </div>
  <div class="button">
    <button class="save" *ngIf="isDirty" (click)="checkInput()">
      <i class="fa-solid fa-floppy-disk"></i>
      Lưu
    </button>
    <button class="escape" (click)="handleCancel()">
      <i class="fa-solid fa-x"></i>
      Thoát
    </button>
  </div>
</div>

