.user{
  margin-left: 180px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}


.user-icon{
  margin-right: 15px;

}
.user_list{
  font-size: 20px;
  font-weight: 600;

}
.user_add_button{
  margin-top: 10px;
  height: 32px;
  width: 150px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #2e6cf6;
}
.plus-user-add-button{
  margin-right:15px ;
  zoom: 1.3;
}

.user-email{
  margin-left: 175px;
  width: 1200px;
  display: flex;
  height: 40px;
  align-items: center;


}
.user-email-cf{
  font-weight: 700  ;
  margin-right: 10px;
  margin-top: 12px;
}

.user-email-search
{
  flex: 1;
  height: 100%;


}
.user-email-search-input{
  width: calc(100% + 44px);
  height: 100%;
  font-size: 18px;
  padding: 0 16px;
  border-radius: 3px;
  border: 2px solid #ced1d1;

}
.user-email-search-input:focus{
outline: none;
}
.user-button-search{
  border: none;
  height: 35px;
  width: 40px ;
  outline: none;
  cursor: pointer;
  background-color: white;
}

.user-button-search-icon{
  font-size: 1.4rem;
}
/* Search */
.user-table{
  width: 1200px;
  border-radius: 5px;
  margin: 10px 180px;
  border: 1px solid #ced1d1;
  overflow: hidden;
  height: 225px;
}
.second-row:hover {
  background-color: #eeeeee;
}
.first-row{
  display: flex;
  background-color: #fafbfb;
  border-color: #f2f3f4;
  padding-top: 10px;
}
.name{
  margin-left: 40px;
  font-weight: 700 ;
  display: flex;
  align-items: center;
}
.email{
  margin-left: 450px;
  font-weight: 700;
}
.icon-down{
  margin-left: -9px;
  margin-top: 6px;
}
.second-row{
  display: flex;
 background-color: #fdfdfd;
 /* border-top: 1px solid #ced1d1; */
 border-bottom: 1px solid #ced1d1;
 overflow: hidden;
}
.straight{
  flex-grow: 1;
 border-top: 1px solid #c5c4c4;
}
.name-item{
  margin-top: 8px;
  width: 45%;
  margin-left: 40px;
  cursor: pointer;
}
.email-item{
  margin-top: 8px;
  width: 56%;
  display: flex;
  cursor: pointer;

}

.hover{
  cursor: pointer;
}

.icon-item{
  margin-top: 10px;
  color: #71787e;
  width: 6%;
}

.edit-icon{
  margin-left: 15px;
}

.footer{
  margin-top: 20px;
  margin-left: 170px;
  display: flex;
}
.footer1{
  margin-right: 330px;
}

/* ---------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.modal-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

}
.show {
  opacity: 1;
  visibility: visible;
}
.modal-body{
  margin: 100px 150px;
  z-index: 100;
  position: relative;
  width: 1250px;
  height: 380px;
  background-color: white;
  border-radius: 4px;
  padding: 0px;
}
.header_h1{
  font-weight: 600;
  padding-top: 15px;
  padding-left: 10px;
}
.all{
  width: 1005 !important;
}
.input-cf{
  border-radius: 3px;
  border-color: #cdcdcd;
  width: 300;
  height: 35;
  outline: none;
  margin-left: 9px;
  border-style: solid;
  padding-left: 10px;
}
.input-name-cf{
  margin-left: 4px ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.user-info {
  background-color: #f5f5f5;
  height: 240;
  font-weight: 600;
  border-top: 1px solid #dfe3e6;
  border-bottom: 1px solid #dfe3e6;
}

.user-info,p{
  margin-bottom: 8px;
}

.first{
  display: flex;
  margin-left: 144px;
  margin-top: 25px;
}

.phone{
  margin-left: 297px;
}
.second{
  margin-left: 131px;
}
.third{
  width: 100%;
  margin-left: 74px;
}
.four{
  display: flex;
  margin-left: 60px;
}
.city{
  display: flex;
  width: 11%;
  margin-left: 4px;
  align-items: center;
}
.select-city{
  margin-left: -4px;
  width: 300px;
  height: 35px;
}
.select-dis{
  margin-left: 12px;
  width: 300px;
  height: 35px;
}.select-ward{
  margin-left: 10px;
  width: 300px;
  height: 35px;
}

.district{
  margin-left: 148px;
}
.five{
  margin-left:104px;
  display: flex;
  margin-top: 6px;
  align-items: center;

}


.button{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.btn{
  width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}
.btn1{
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-left: 5px;
}
.btn2{
  width: 298px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-left: 18px;
}
.save{
  width: 70px;
  height: 35px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.escape{
  width: 100px;
  height: 35px;
  color: white;
  background-color: #007bff;
  margin-left: 8px;
  border: none;
  border-radius:3px ;
  cursor: pointer;
}
.require{
  color: red;
}

/* --Footer-- */
.footer{
  align-items: center;
}
.pagination{
  margin-left: 250px;
}
.totalpage{
  width: 250px;
}

