<div class="user-cf">
  <div class="user-email">
    <p class="user-email-cf">Email: </p>
    <div class="user-email-search">
      <input type="text"
        [(ngModel)]="searchInput"
        class="user-email-search-input" #filter>

    </div>
    <!-- (keyup)="filterResults(filter.value)" -->

    <!-- (keydown.enter)="filterResults(filter.value)" button enter -->
    <button class="user-button-search"
      (click)="filterResults(filter.value)">
      <i class="user-button-search-icon fa-solid fa-magnifying-glass"></i>
    </button>

  </div>
  <section>
    <div class="user-table">
      <div class="first-row">
        <p class="name">Tên
          <i class=" fa-solid fa-sort"></i>
        </p>
        <p class="email">Email
          <i class="fa-solid fa-sort-down"></i>
        </p>
        <br>
      </div>
      <div class="straight">
        <div
          *ngFor="let userInfo of filteredUserList ">
          <div class="second-row">
            <p class="name-item" (click)="showInfo(userInfo.id)">
              {{ userInfo.name }}
            </p>
            <p class="email-item" (click)="showInfo(userInfo.id)">
              {{ userInfo.email }}
            </p>
            <p class="icon-item">
              <i class="hover del-icon fas fa-trash-can"
                (click)="deleteItem(userInfo.id)"></i>
              <i class="hover edit-icon fas fa-pen"
                (click)="edit(userInfo.id)"></i>
            </p>
          </div>

        </div>

      </div>
    </div>

  </section>
  <div class="footer">

    <mat-paginator
    [length]="filteredUserList.length"
    [pageSize]="pageSize"
      showFirstLastButtons>
    </mat-paginator>
  </div>

</div>

<!-- ------------------------- -->
<form [formGroup]="myForm">
  <div class="modal" [ngClass]="{'show': modalOpen}" (click)="closeModal()">
    <div class="modal-overlay" (click)="preventPropagation($event)">
      <div class="modal-body">
        <div class="header"><h1 class="header_h1">Thông tin người dùng</h1></div>
        <div class="user-info">

          <div class="first">
            <p class="namemd">Tên <span class="require">*</span>:
              <input
                class="input-cf input-name-cf"
                type="text"
                id="Input"
                formControlName="name"
                ></p>
            <p class="phone">Số điện thoại: <input id="phoneInput"
                class="input-cf"
                type="number"
                formControlName="phone"></p>
          </div>
          <div class="second">
            <p>Email <span class="require">*</span>:<input
                class="input-cf "
                id="Input"
                type="email"
                formControlName="email">
            </p>

          </div>
          <div class="third">
            <p>Địa chỉ chi tiết <span class="require">*</span>:<input
                class="input-cf all"
                id="addressInput"
                type="text"
                formControlName="address"></p>
          </div>
          <div class="four">
            <label for="city" class="city">Tỉnh/Thành phố&nbsp;<span
                class="require">*</span>:</label>
            <select id="city" name="city" class="select-city"
              formControlName="city">
              <option value="" disabled>Chọn giá trị</option>
              <option value='hn'>Hà Nội</option>
              <option value="hcm">Hồ Chí Minh</option>
            </select>
            <div class="district">
              <label for="district" class="district">Quận/Huyện <span
                  class="require">*</span>:</label>
              <select name="district" class="select-dis"
                formControlName="district">
                <option value="" disabled>Chọn giá trị</option>
                <option value="huyen1">Huyện 1</option>
                <option value="huyen2">Huyện 2</option>
                <option value="quan1">Quận 1</option>
                <option value="quan2">Quận 2</option>
              </select>
            </div>
          </div>
          <div class="five">
            <label for="ward" class="ward">Phường/Xã:</label>
            <select name="ward" class="select-ward" formControlName="ward">
              <option value="" disabled>Chọn giá trị</option>
              <option value="xa1">Xã 1</option>
              <option value="xa2">Xã 2</option>
              <option value="xa3">Xã 3</option>
            </select>
          </div>

        </div>

        <div class="button">
          <button type="submit" class="save" *ngIf="isButtonVisible"
            (click)="onSubmit()">
            <i class="fa-solid fa-floppy-disk"></i>
            Lưu </button>
          <button class="escape" (click)="closeModal()">
            <i class="fa-solid fa-x"></i>
            Thoát
          </button>
        </div>
      </div>

    </div>
  </div>
</form>
